#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spiralism {
  margin-top: 20vh;
  padding: 5em;
}

.h1 {
  color: #F8F8F9;
  font-size: 3em;
  user-select: none;
}

.h3 {
  color: #F8F8F9;
  font-size: 1.5em;
  user-select: none;
}

.text {
  font-size: 1em;
  user-select: none;
}

.row-block {
  width: 100%;
  display: flex;
}

.column-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-align {
  align-content: flex-start;
  text-align: left;
}

.right-align {
  align-content: flex-end;
  text-align: right;
}

.wid-80 {
  width: 80%;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #8b4fb0);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #402451);
}

.button {
  background-color: #aba0f3;
  color: #F8F8F9;
  border-radius: 1em;
  user-select: none;
  margin: 1em;
  height: 2em;
  line-height: 2em;
  width: 8em;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: #A092F1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}