.history-table {
    width: 50em;
    min-height: 3em;
    margin: 0.5em;
    border-radius: 1em;
    border-color: #C7AAD9;
    border-width: 0.2em;
    border-style: solid;
}

.history-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
}

.row-block {
    width: 100%;
    display: flex;
}

.select:hover {
    cursor: pointer;
    background-color: #686293;
    border-radius: 1em;
}

.no-box {
    flex: 2;
}

.smt-box {
    flex: 5;
}

.t-box {
    flex: 3;
}